* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a { 
    text-decoration: none;
    color: inherit; 
}

.container {
  max-width: 80%;
  margin: auto;
}

@media(max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

header {
  background-color: #40b7ff;
}

.navbar {
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo-image { 
    width: 100px
}
.nav-list li{
    display: inline-block;
    color: white;
}
.nav-list li:not(:first-of-type) {
    margin-left:  10px;
}
.nav-list li a:hover {
    color: tomato;
    border-bottom: 1px solid tomato;
}
.hero {
    background: url("./images/chris-benson-mj0cA4eYmh4-unsplash.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero div {
  width: 80%;
  text-align: center;
  color: white;
}

.hero h1 {
  margin: 10px 0;
  text-transform: uppercase;
}

.hero p {
  line-height: 1.6;
}